*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}



h1, p {
    text-align: center;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: "montserrat", sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    
}

.box{
    width: calc(100% / 3  - 10px); 
    background-color: black;
    margin-left: 10px;
    margin-top: 40px;
}

.pull-left{
    float: left;
}

.img{
    height: 100px;
    object-fit: contain;
    float: left;
    padding-right: 20px;
}

.testo{
    color: white;
    padding-top: 10px;
}

.professione{
    margin-top: 10px;
}

.email{
    margin-top: 10px;
    
}

